services:
  db:
    image: postgres:16
    restart: always
    env_file: .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: mindforge-be
    env_file: .env
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  pgdata:
