services:
  db:
    image: postgres:16
    restart: always
    env_file: .env
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: mindforge-be
    env_file: .env
    ports:
      - "${BACKEND_PORT}:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    depends_on:
      - db
    networks:
      - app-network

  frontend:
    build: mindforge-fe
    env_file: .env
    ports:
      - "${FRONTEND_PORT}:80"
    environment:
      VITE_API_URL: "http://backend:${BACKEND_PORT}"
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  pgdata:

networks:
  app-network:
    driver: bridge
